.btn.btn-my{
     width: 85px;
      line-height: 0.69;
}

.btn.btn-myone{
    margin-right:50px;
    margin-left:-3px;
    width: 60px;
      line-height: 0.69;
      border-radius:0px;

}

.mydiv{
    margin-top:5px;
    margin-left:20px;
    
}

.fatherdiv{

    height:auto;
    overflow:auto;
    
}

.input-my{
    width:120px;
    height:30px;
    line-height:30px;
}

.select-my{
    width:150px;
    height:30px;
}